body{
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 97vh;

}

.welcome{
    font-size: 35px;
    font-family: Roboto;
    color: white;
    position: absolute;
    top: 30px;
    
}
.to-do-bg{
    background-color: lightblue;
    padding: 12px;
    border: none;
    border-radius: 5px;
    min-height: 450px;
    min-width: 450px;
    margin-top:70px
}

.top-section{
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.input-box{
    height: 39px;
    vertical-align: top;
    border: none;
    border-radius: 4px;
    flex: 1;
    font-size: 15px;
    padding-left: 10px;
    font-size: 16px;
    background-color: lightpink;
}
.input-box:focus{
    outline: none;
}
.input-box::placeholder{
    font-family: Roboto;
    color: rgb(58, 57, 57);
}
.add-button{
    padding: 7px 22px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    transition: opacity 0.15s;
    font-size: 17px;
    cursor: pointer;
}
.add-button:hover{
    opacity: .8;
}
.add-button:active{
    opacity: .5;
}


li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    column-gap: 12px;
}
.task{
    font-size: 17px;
    font-family: Roboto;
    max-width: 300px;
    margin: 0;
    line-height: 22px;
}
.delete-button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 17px;
    padding: 7px 12px;
    transition: opacity 0.15s
}
.delete-button:hover{
    opacity: .8; 
    cursor: pointer;
}
.delete-button:active{
    opacity: .5;
}