*{
    margin: 0;
}
button{
    font-family: Roboto;
}
p{
    margin: 0;
    font-family: Roboto,Arial;
}
.entire-background{
    position: fixed;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-background{
    background-color:#313C4C;
    height: 390px;
    width: 350px;
    border-radius: 10px;
    padding: 1px;
    
}


.top-section{
    height: 80px;
    display: flex;
}

.result-div{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    padding-right: 10px;
}
.result{
    font-size: 23px;
    margin-left: 20px; 
    font-family: Roboto;
    color: white;
}




.bottom-section{
    height: 310px;
    display: grid;
    grid-template-columns: 290px 60px;
}

.bottom-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 25px;
}

.ac-button{
    border: none;
    background-color: rgb(224, 30, 30);
    color: white;
    padding: 5px 10px;
    border-radius: px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-weight: bold;
    font-family: Roboto;   
    cursor: pointer;
    transition: opacity 0.15s;
}
.ac-button:active{
    opacity: .7;
}

.delete-button{
    border: none;
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-weight: bold;
    font-family: Roboto;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.15s;   
}
.delete-button:active{
    opacity: .7;
}
.delete-img{
    width: 25px; 
}


.equal-button{
    border: none;
    background-color: #FFA312;
    color: white;
    padding: 5px 10px;
    border-radius: px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.15s;
    
}
.equal-button:active{
    opacity: .7;
}


.number-button{
    border: none;
    background-color: #313133;
    color: white;
    font-size: 22px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-weight: bold;
    font-family: Roboto;
    cursor: pointer;
    transition: opacity 0.15s;
    
}
.number-button:active{
    opacity: .7;
}

.operator-buttons{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 3px;
    padding: 0px 3px;
}
.operator{
    border: none;
    background-color: white;
    font-size: 20px;
    height: 48px;
    width: 48px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.15s;
}
.operator:active{
    opacity: .7;
}