*{
    font-family: Roboto ,sans-serif;
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: #FD6569;
    padding: 15px;
    border-radius: 2px;
}
.book-details{
    padding: 20px;
    width: 250px;
    background-color: black;
    color: white;
    margin: 30px 10px 20px 30px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}
.book-details h2{
    color: #FD6569;
    margin-bottom: 5px;
}
.book-details h5{
    margin-bottom: 10px;
}
.book-details p{
    font-size: 15px;
    line-height: 22px;
}
.book-details button{
    background-color: red;
    border: none;
    padding: 7px 12px;
    border-radius: 3px;
    color: white;
    margin-top: 12px;
    margin-left: 80%;
    cursor: pointer;
    transition: opacity 0.15s;
}
.book-details button:hover{
    opacity: .8;
}
.book-details button:active{
    opacity: .5;
}
.add-button{
    background-color: #FD6569;
    border: none;
    padding: 16px 24px;
    border-radius: 50%;
    font-size: 27px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.add-button:hover{
    opacity: .8;
}
.add-button:active{
    opacity: .5;
}
.overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 5;
    display: none;
}
.popup{
    background-color: #d43a26;
    padding: 35px;
    
    flex-direction: column;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: none;
}
.popup h3{
    margin-bottom: 5px;
}
.book-author,.book-title{
    background-color: #d43a26;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    padding: 5px 2px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 17px;
    outline: none;
}
.popup input::placeholder{
    color: black;
}
.popup button{
    background-color: black;
    color: white;
    border: none;
    padding: 7px 12px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.popup button:hover{
    opacity: .8;
}
.popup button:active{
    opacity: .5;
}
.description{
    border: 1px solid black;
    padding: 5px 0px 25px 5px;
    background-color: #d43a26;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    outline: none;
}